   # Binaries for programs and plugins
   *.exe
   *.exe~
   *.dll
   *.so
   *.dylib
   myzoned

   # Test binary, built with 'go test -c'
   *.test

   # Output of the go coverage tool
   *.out

   # Dependency directories (remove the comment below if you're using modules)
   # vendor/
   build/

   # Go workspace file
   go.work

   # OS files
   .DS_Store